start/car/scene.bin
start/car/scene.gltf
start/car/textures/Body_SG1_baseColor.jpeg
start/car/textures/Body_SG1_emissive.jpeg
start/car/textures/Body_SG1_metallicRoughness.png
start/car/textures/Body_SG1_normal.jpeg
start/car/textures/Ground_SG_baseColor.png
start/car/textures/Interior_SG_baseColor.jpeg
start/car/textures/Interior_SG_metallicRoughness.png
start/car/textures/Interior_SG_normal.jpeg
start/car/textures/Windows_SG_normal.png
